body{
    background-color: #5457eeb8;
    color: black;
   }
   
   h1{
       text-align: center;
   }
   
   .tarjetas-2{
       margin-top: 4%;
       background: #a59cfc !important;
   }
   
   /*Estilos navbar*/
   .link-dark{
       color: #4b81de !important;
   }
   
   header ul{
       font-size: 18px; 
   }
   
   
   header{
       background-color: #f7f7f7;
       position: fixed;
       z-index: 1;
       width: 100%;
       -webkit-box-shadow: 0px 11px 14px -7px rgba(0,0,0,0.54);
       -moz-box-shadow: 0px 11px 14px -7px rgba(0,0,0,0.54);
       box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.422);
   }
   
   header ul li{
       margin-right: 20px;
   }
   
   header i{
       margin: 5px;
   }
   
   .btn-registrarme{
       color: white;
       background: #8476fb;
   }
   
   .btn-registrarme:hover{
       border: 1px solid #8476fb;
       color: #8476fb;
   }
   
   .btn-inicio{
       background:#4a87ee;
       color: white;
   }
   
   .btn-inicio:hover{
       border: 1px solid #4a87ee;
       color: #4a87ee;
   }
   
   
   /*Fin Estilos navbar*/
   
   /*Estilos Main*/
   
   
   main{
       padding-top: 5%;
   }
   
   main h1{
       font-weight: bold;
       text-shadow: 1px 1px 2px rgb(208, 208, 208);
   }
   
   main p{
       font-size: larger;
       font-weight: 100px;
   }
   
   .tarjetas{
       background: #f3f4f5;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 50px;
   }
   
   .seccion-tarjetas{
       background: #f3f4f5;
       padding-bottom: 4%;
   }
   
   .seccion-tarjetas h1{
       padding: 3% 0;
       
   }
   
   .seccion-tarjetas i{
       margin: 20px;
   }
   
   .seccion-tarjetas .tarjetas a:link, a:visited, a:active {
       text-decoration:none;
       color: black;
   }
   
   .seccion-tarjetas .card:hover{
       transform: scale(1.1);
       transition: 1s;
       cursor: pointer;
   }
   .seccion-tarjetas .img{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   .seccion-tarjetas .card{
       -webkit-box-shadow: 0px 17px 14px -7px rgba(0,0,0,0.65);
   -moz-box-shadow: 0px 17px 14px -7px rgba(0,0,0,0.65);
   box-shadow: 0px 17px 14px -7px rgba(0,0,0,0.65);
   }
   
   svg{
       position: absolute;
       transform: translateY(-325px);
   }
   
   .banner{
       padding-bottom: 12%;
       margin-top: 8%;
   }
   
   .banner .fa-sharp{
       font-size: 100px;
       animation: rebote 1.5s infinite linear;
   
   }
   
   @keyframes rebote{
       0%{
           transform: translateY(0px);
       }
       50%{
           transform: translateY(30px);
       }
       100%{
           transform: translateY(0px);
       }
   }
   
   /*Fin Estilos Main*/
   .fondo{background-color: #1853c0;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
   table{
    color: black;
   }
   .agregado{
    padding-top: 10px;
   text-align: right;
   }
   /*Estilos footer*/
   footer{
       display: flex;
       justify-content: space-around;
       align-items: center;
       background: #f7f7f7;
       padding: 2%;
       border-top: 1px solid rgba(93, 88, 88, 0.189);
       
   }
   footer ul{
       display: flex;
   }
   footer ul li{
       font-size: xx-large;
       list-style:  none;
       margin: 10px;
       color: #1e1bf0;
   }
   
   /*Fin Estilos footer*/
   
   /* Estilos titulo  */  
     /**/
     .wrap {
       
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
     }
     
     .buttoncito {
       margin-top: 6%;
       min-width: 300px;
       min-height: 60px;
       font-family: 'Nunito', sans-serif;
       font-size: 22px;
       text-transform: uppercase;
       letter-spacing: 1.3px;
       font-weight: 700;
       color: #85399f;
       background: #f4f1f5;
     background: linear-gradient(90deg, rgb(237, 233, 239) 0%, rgb(230, 227, 232) 100%);
       border: none;
       border-radius: 1000px;
       box-shadow: 12px 12px 24px rgba(200, 79, 209, 0.64);
       transition: all 0.3s ease-in-out 0s;
       outline: none;
       cursor: none;
       position: relative;
       padding: 10px;
       }
   
       .texto-descriptivo p{
           margin: 5%;
           text-align: center;
           color: white;
           font-weight: 500;
           padding: 3%;
           font-size: 18px;
           border: 7px dashed white;
           text-shadow: 1px 2px #999;
             
       }
   
       .texto-descriptivo {
           margin: 4% 30%;
         
       }
   
       .centrar-div{
           display: flex;
           
       }
   
   
       /*Login*/
   
       .login-design {
           display: grid;
           grid-template-columns: repeat(2, 50%);
           height: 100vh;
         }
         
         .waves {
           background-image: url('../assets/wave.png');
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           display: flex;
           justify-content: center;
           align-items: center;
         }
         
         .login {
           display: flex;
           justify-content: center;
           align-items: center;
         }
         
         .login-data {
           text-align: center;
           width: 60%;
         }
         
         .login-data h1 {
           font-weight: 200;
         }
         
         .input-group {
           position: relative;
           width: 60%;
           margin: 0 auto;
           margin-bottom: 1.5rem;
         }
         
         .input-fill input {
           border: none;
           border-bottom: 3px solid #848f9a;
           width: 100%;
           height: 2rem;
           font-size: 1.0625rem;
           padding-left: 2rem;
           line-height: 147.6%;
           padding-top: 1rem;
           padding-bottom: 0.5rem;
         }
         
         .input-fill input:focus {
           outline: none;
           border-color: #6c1aef;
         }
         
         .input-fill input:hover {
           background-color: #e9ecef;
         }
         
         .input-fill input:focus + .input-label {
           top: 0;
           margin-bottom: 2rem;
           color: #6c1aef;
         }
         
         .input-fill input:focus ~ i {
           color: #6c1aef;
         }
         
         .input-fill .input-label {
           position: absolute;
           top: 15px;
           left: 28px;
           line-height: 147.6%;
           color: #848f9a;
           transition: top 0.2s;
           font-weight: 700;
         }
         
         .input-fill i {
           position: absolute;
           top: 19px;
           left: 0;
           color: #848f9a;
           font-size: 1.5rem;
         }
         
         .login-form a {
           display: block;
           width: 85%;
           text-align: right;
           text-decoration: none;
           color: #848f9a;
           margin-bottom: 1.3rem;
           font-weight: 800;
           transition: 0.3s ease-in-out all;
           font-size: 18px;
         }
         
         .login-form a:hover {
           color: #6c1aef;
         }
         
         .btn-login {
           border-radius: 3rem;
           width: 45%;
           border: 1px solid #6c1aef;
           line-height: 1.6rem;
           font-size: 1.3rem;
           background-color: #6c1aef;
           color: #ffffff;
           padding: 0.5rem 0;
           transition: 0.3s ease-in-out all;
           font-weight: 500;
         }
         
         .btn-login:hover {
           cursor: pointer;
           background-color: #ffffff;
           color: #6c1aef;
         }
   
         
   
           /* estilo login*/
       .login {
           height: 1000px;
           width: 100%;
           position: relative;
       }
       .login_box {
           width: 1050px;
           height: 600px;
           position: absolute;
           top: 40%;
           left: 50%;
           transform: translate(-50%,-50%);
           background: #fff;
           border-radius: 10px;
           box-shadow: 1px 4px 22px -8px #0004;
           display: flex;
           overflow: hidden;
       }
       .login_box .left{
         width: 50%;
         height: 100%;
         padding: 25px;
         
       }
       .login_box .right{
         width: 59%;
         height: 100%  
       }
       .left .top_link a {
           color: #452A5A;
           font-weight: 400;
       }
       .left .top_link{
         height: 20px
       }
       .left .contact{
           display: flex;
           align-items: center;
           justify-content: center;
           align-self: center;
           height: 100%;
           width: 73%;
           margin: auto;
       }
       .left h3{
         text-align: center;
         margin-bottom: 40px;
       }
       .left input {
           border: none;
           width: 80%;
           margin: 15px 0px;
           border-bottom: 1px solid #4f30677d;
           padding: 7px 9px;
           width: 100%;
           overflow: hidden;
           background: transparent;
           font-weight: 600;
           font-size: 14px;
       }
       .left{
           background: linear-gradient(-45deg, #dcd7e0, #fff);
       }
       .submit {
           border: none;
           padding: 15px 70px;
           border-radius: 8px;
           display: block;
           margin: auto;
           margin-top: 120px;
           background: #8476fb;
           color: #fff;
           font-weight: bold;
           -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
           -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
           box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
       }
       
       
       
       .right {
           background: linear-gradient(212.38deg, rgba(110, 22, 98, 0.541) 0%, rgba(135, 70, 189, 0.71) 100%),url(https://static.seattletimes.com/wp-content/uploads/2019/01/web-typing-ergonomics-1020x680.jpg);
           color: #fff;
           position: relative;
       }
       
       .right .right-text{
         height: 100%;
         position: relative;
         transform: translate(0%, 45%);
       }
       .right-text h2{
         display: block;
         width: 100%;
         text-align: center;
         font-size: 50px;
         font-weight: 500;
       }
       .right-text h5{
         display: block;
         width: 100%;
         text-align: center;
         font-size: 19px;
         font-weight: 400;
       }
       
       .right .right-inductor{
         position: absolute;
         width: 70px;
         height: 7px;
         background: #fff0;
         left: 50%;
         bottom: 70px;
         transform: translate(-50%, 0%);
       }
       .top_link img {
           width: 28px;
           padding-right: 7px;
           margin-top: -3px;
       }
       
       .btn-registro-f{
           border: none;
           padding: 15px 52px;
           border-radius: 8px;
           display: block;
           margin: auto;
           margin-top: 10px;
           background: #2e3792;
           color: #fff;
           font-weight: bold;
           -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
           -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
           box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
       
       }
   
       .btn-registro-g{
         border: none;
         padding: 15px 60px;
         border-radius: 8px;
         display: block;
         margin: auto;
         margin-top: 10px;
         background: #c52545;
         color: #fff;
         font-weight: bold;
         -webkit-box-shadow: 0px 9px 15px -11px rgb(204, 32, 52);
         -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
         box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
       }
       /*fin estilo login*/
       
       
      
    
   
     
     
     